<mat-toolbar class="header-wrapper">
  <div class="header-container">
    <span class="header-title">{{ title }}</span>
    <div class="header flex-row-center-sb">
      <div class="header-item-wrapper">
        <span class="header-item" routerLink="/app">Home</span>
      </div>
      <div class="header-item-wrapper" routerLink="/app/add-post">
        <img class="note-icon" src="../../../../assets/svg/note.svg" alt="" />
        <span class="header-item">New Article</span>
      </div>
      <ng-template [ngIf]="!currentUser" ] [ngIfElse]="userInfo">
        <div class="header-item-wrapper" routerLink="/auth/login">
          <span class="header-item">Login</span>
        </div>
      </ng-template>
    </div>
  </div>
</mat-toolbar>

<ng-template #userInfo>
  <div class="header-item-wrapper">
    <span class="header-item">{{ userName }}</span>
  </div>
  <div class="header-item-wrapper" (click)="logout()">
    <span class="header-item">Logout</span>
  </div>
</ng-template>
