.header-wrapper {
  height: var(--header-height);
  padding: 10px 40px;
  box-sizing: border-box;

  .header-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 70% 30%;

    .header-title {
      display: flex;
      align-items: center;
    }

    .header {
      padding: 0;

      .header-item-wrapper:not(:last-child) {
        margin-right: 10px;
      }

      .header-item-wrapper {
        cursor: pointer;
        display: flex;
        flex-direction: row;

        .note-icon {
          filter: invert(1);
        }
      }
    }
  }
}
