<div class="page-wrapper">
  <div class="posts-wrapper">
    <div class="posts-container" [overlayLoading]="isPostsLoading">
      <app-post *ngFor="let post of posts" [post]="post" (click)="toPost(post._id)"></app-post>
    </div>
    <div class="tags-wrapper" [overlayLoading]='isTagsLoading'>
      <div class="tags-container mat-card-content">
        <span class="title">Popular tags</span>
        <div class="tag-list-container">No tags are here... yet.</div>
      </div>
    </div>
  </div>
</div>
