<mat-card class="post-wrapper">
  <div class="post-container">
    <mat-card-header class="post-author-container flex-row-center">
      <div mat-card-title>
        <div mat-card-avatar>
          <img class="avatar-md" src="assets/img/avatar.png" alt="User avatar" />
        </div>
        <div>
          <mat-card-title class="author-info">{{ authorInfo }}</mat-card-title>
          <mat-card-subtitle class="date-info">{{ post?.date | date }}</mat-card-subtitle>
        </div>
      </div>
      <button class="likes-container flex-row-center" mat-icon-button color="{{ postLikes }}" aria-label="Like">
        <mat-icon>favorite</mat-icon>
        <span class="likes-indicator">{{ post?.likes }}</span>
      </button>
    </mat-card-header>
    <mat-card-content class="post-info-container">
      <span class="post-title">{{ post?.title }}</span>
      <span class="post-text" [ngClass]="{ 'opened-text': isOpened }">{{ post?.text }}</span>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" class="post-btn" (click)="toggleOpened()">
        {{ isOpened ? 'Show less' : 'Read more...' }}
      </button>
    </mat-card-actions>
  </div>
</mat-card>
