<div class="post-wrapper">
  <div class="post-container">
    <div class="post-author-container flex-row-center">
      <div class="author-info-container flex-row-center">
        <img class="avatar-md" src="assets/img/avatar.png" alt="User avatar">
        <div class="">
          <div class="author-info">{{authorInfo}}</div>
          <div class="date-info">{{post?.date | date}}</div>
        </div>
      </div>
      <div class="likes-container flex-row-center" [ngClass]="postLikes">
        <img src="assets/svg/heart.svg" alt="Heart">
        <span class="likes-indicator">{{post?.likes}}</span>
      </div>
    </div>
    <div class="post-info-container">
      <span class="post-title">{{post?.title}}</span>
      <span class="post-text" [ngClass]="{'opened-text': isOpened}">{{post?.text}}</span>
      <span class="post-btn" (click)="showMore()" *ngIf="!isOpened">Read more...</span>
      <span class="post-btn" (click)="showLess()" *ngIf="isOpened">Read less...</span>
    </div>
  </div>
</div>
