<div class="add-post-form-wrapper">
  <form class="add-post-form" [formGroup]="newPostForm" (ngSubmit)="submitForm()">
    <div class="form-item">
      <label for="titleInputId" class="input-label">Post title</label>
      <input type="text" formControlName="title" class="item-input"
             id="titleInputId" placeholder="Please enter title"/>
      <span *ngIf="hasControlError('title')" class="error-msg">
        {{titleError}}
      </span>
    </div>
    <div class="form-item textarea-item">
      <label for="textInputId" class="input-label">Post title</label>
      <textarea formControlName="text" placeholder="Please enter some post text"
                id="textInputId" class="textarea-input item-input"
      ></textarea>
      <span *ngIf="hasControlError('text')" class="error-msg">
        {{textError}}
      </span>
    </div>
    <button type="submit" [disabled]="!formValid" class="form-btn">Add post</button>
  </form>
</div>
