.posts-wrapper {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 70% 30%;
  height: 100%;

  .posts-container {
    overflow-y: auto;
  }

  .tags-wrapper {
    margin-left: 10px;

    .tags-container {
      padding: 5px;
      background: #d1ecff;
      border-radius: 10px;
    }
  }
}
