@use '@angular/material' as mat;

@include mat.core();

$custom-primary: mat.define-palette(mat.$blue-palette,500);
$custom-accent: mat.define-palette(mat.$blue-gray-palette, A200, A100, A400);
$custom-warn: mat.define-palette(mat.$red-palette);

$custom-theme: mat.define-dark-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent,
    warn: $custom-warn,
  )
));

@include mat.all-component-themes($custom-theme)
